.heading-primary {
    color: $color-white;
    /* 使用css 把字母大写 */
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        /* 字体间距 */
        letter-spacing: 3.5rem;
        /* 指定执行动画 */
        animation-name: moveInLeft;
        /* 动画执行时间 */
        animation-duration: 1s;
        /* 动画执行的次数 它会重复执行该动画*/
        /* animation-iteration-count: 2; */
        /* 动画的匀速 esae-out 由快到慢 ease-in由慢到快 */
        animation-timing-function: ease-out;
        /* 动画延迟执行 */
        /* animation-delay:3s; */
        /* 解决动画引起的元素抖动问题 */
        backface-visibility: hidden;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        /* 这种写法是 上面的简写 */
        animation: moveInRight 1s ease-out;
    }
}


.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    // 设置背景渐变色
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    // 裁剪背景只留下字体
    -webkit-background-clip: text;
    // 把字体的颜色 设置为透明 这样就可以实现 字体透视背景图
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        // skew 倾斜
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(#0000, .2);
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}