.heading-primary {
    color: $color-white;
    /* 使用css 把字母大写 */
    text-transform: uppercase;
    margin-bottom: 6rem;
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        /* 字体间距 */
        letter-spacing: 3.5rem;
        /* 指定执行动画 */
        animation-name: moveInLeft;
        /* 动画执行时间 */
        animation-duration: 1s;
        /* 动画执行的次数 它会重复执行该动画*/
        /* animation-iteration-count: 2; */
        /* 动画的匀速 esae-out 由快到慢 ease-in由慢到快 */
        animation-timing-function: ease-out;
        /* 动画延迟执行 */
        /* animation-delay:3s; */
        /* 解决动画引起的元素抖动问题 */
        backface-visibility: hidden;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        /* 这种写法是 上面的简写 */
        animation: moveInRight 1s ease-out;
    }
}
