.row {
    max-width: $grid-width;
    margin: 0 auto;

    // overflow: hidden;
    // 只要不是最后一个
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    // class 以col-开头的 把^换成*是包含 $是结尾
    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    // 在calc中使用变量 需要拼接使用 #{}
    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - #{$gutter-horizontal*2}) / 3);
    }

    .col-2-of-3 {
        // 100 - (100  - 10 / 3)
        // width: calc(100% - (100% - #{$gutter-horizontal*2}) / 3 - $gutter-horizontal);
        width: calc(2 * (100% - #{$gutter-horizontal*2}) / 3 + $gutter-horizontal);
    }

    .col-1-of-4 {
        width: calc((100% - #{$gutter-horizontal*3}) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * (100% - #{$gutter-horizontal*3}) / 4 + $gutter-horizontal);
    }

    .col-3-of-4 {
        width: calc(3 * (100% - #{$gutter-horizontal*3}) / 4 + $gutter-horizontal *2);
    }
}